/* src/pages/index/index.scss */
.at-card__title {
    text-align: center;
    /* 设置标题居中 */
    font-size: 20px;
    /* 可根据需要调整字体大小 */
    font-weight: bold;
    /* 可根据需要调整字体粗细 */
}

.question-title {
    font-size: 28px;
    /* 调整字体大小 */
    font-weight: bold;
    /* 加粗字体 */
    margin: 20px 0;
    /* 完全垂直居中 */
    text-align: center;
    /* 居中对齐 */
    display: flex;
    /* 使用 flexbox */
    align-items: center;
    /* 垂直居中 */
    justify-content: left;
    /* 水平居中 */
    height: 60px;
    /* 设置高度以确保垂直居中 */
}

.radio-options .at-radio__option {
    color: gray;
    /* 设置选项字体颜色为灰色 */
    font-size: 20px;
    /* 调整选项字体大小 */
}

.button-container {
    margin-top: 20px; /* 上方间距 */
  }

.at-card {
  margin-bottom: 20px; /* 如果需要，可以为每个卡片设置底部边距 */
  border-radius: 10px; /* 圆角 */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* 阴影效果 */
}

.question-title {
  font-size: 28px; /* 调整字体大小 */
  font-weight: bold; /* 加粗字体 */
  margin: 20px 0; /* 上下间距 */
  text-align: center; /* 居中对齐 */
}

.radio-options .at-radio__option {
  color: gray; /* 设置选项字体颜色为灰色 */
  font-size: 20px; /* 调整选项字体大小 */
}

.button-container {
  margin-top: 20px; /* 上方间距 */
}

.at-button--small {
  width: auto; /* 按钮宽度 */
  display: flex; /* 使用 flexbox */
  align-items: center; /* 垂直居中 */
  justify-content: center; /* 水平居中 */
  padding: 12px 0; /* 增加上下内边距以增加高度 */
  min-height: 50px; /* 设置最小高度 */
  font-size: 18px; /* 调整字体大小 */
}

.spacing {
  margin-bottom: 20px; /* 根据需要调整间距 */
}

.home-title {
  text-align: center; /* 文字居中 */
  margin-bottom: 20px; /* 根据需要调整间距 */
}

.home-page {
  display: flex;
  flex-direction: column;
  align-items: center; /* 子元素居中对齐 */
  justify-content: center; /* 垂直居中 */
  height: 100vh;
}